*,
:after,
:before {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
*,
:after,
:before,
input[type="checkbox"],
input[type="radio"] {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
body {
  margin: 0px;
  padding: 0px;
  font-size: 14px;
  color: #353f57;
  padding-top: 46px;
  background-color: #f2f4f8;
  font-family: "Lato", sans-serif;
}
input[type="search"] {
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
input[type="checkbox"],
input[type="radio"] {
  padding: 0px;
  box-sizing: border-box;
}
select {
  -webkit-appearance: none;
}
input[disabled],
select[disabled] {
  cursor: not-allowed;
  background-color: #f2f3f6;
}
*,
*:focus {
  outline: none;
}
a {
  color: #288bce;
  text-decoration: none;
  display: inline-block;
}
a:hover,
a:focus {
  text-decoration: none;
}
p {
  margin: 0 auto;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
.text-left {
  text-align: left;
}
.container {
  position: relative;
  margin: 0 auto;
}
.container-fluid {
  position: relative;
  padding: 0px 48px;
}
@media only screen and (max-width: 992px) {
  .container {
    padding: 0 12px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media only screen and (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  border-radius: 20px;
}
::-webkit-scrollbar-button {
  display: none;
}
::-webkit-scrollbar-track {
  background-color: rgba(50, 50, 50, 0.05);
}
::-webkit-scrollbar-track-piece {
  background-color: rgba(50, 50, 50, 0.05);
}
::-webkit-scrollbar-thumb {
  background-color: #000;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #000;
}
::-webkit-scrollbar-corner {
  display: none;
}
::-webkit-resizer {
  display: none;
}
.pt-smooth {
  transition: 0.5s;
  -moz-transition: 0.5s;
  -webkit-transition: 0.5s;
}
.list-inline {
  padding: 0;
  font-size: 0;
  margin: 0px -6px;
  list-style-type: none;
}
.list-inline > li {
  padding: 0 6px;
  font-size: 14px;
  display: inline-block;
  vertical-align: middle;
}
.list-unstyled {
  padding: 0;
  margin: 0 auto;
  list-style-type: none;
}
.disabled {
  opacity: 0.6;
  pointer-events: none;
}
.pt-formControl {
  position: relative;
  width: 100%;
  height: 36px;
  font-size: 14px;
  color: #353f57;
  padding: 8px 12px;
  border: 1px solid #cbcfd7;
  font-family: "Lato", sans-serif;
  box-shadow: inset 0 1px 4px 0 rgba(232, 234, 237, 0.6);
}
.pt-formControl::placeholder {
  font-weight: normal;
}
.pt-formControl[disabled] {
  opacity: 1;
  cursor: not-allowed;
  background-color: #eee;
}
.pt-formControl::-webkit-inner-spin-button,
.pt-formControl::-webkit-outer-spin-button {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}
.pt-inputGroup {
  position: relative;
  font-size: 0px;
}
.pt-inputGroup > .pt-formControl,
.pt-inputGroup > .pt-mapBtn {
  width: auto;
  display: inline-block;
  vertical-align: middle;
}
.pt-inputGroup > .pt-formControl {
  border-right: none;
  margin-right: -1px;
}
.hasOverlay:after {
  content: "";
  position: fixed;
  top: 0px;
  left: 0px;
  opacity: 0;
  width: 100%;
  z-index: 998;
  height: 100%;
  transition: 0.5s;
  visibility: hidden;
  -moz-transition: 0.5s;
  -webkit-transition: 0.5s;
  background-color: rgba(39, 54, 84, 0.6);
}
.showOverlay.hasOverlay:after {
  opacity: 1;
  visibility: visible;
}
.pt-showMenu {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  z-index: 1000;
  text-align: center;
}
.pt-showMenu.slideDown {
  top: 190px;
}
.pt-showMenu > span {
  position: relative;
  color: #fff;
  font-size: 12px;
  cursor: pointer;
  font-weight: bold;
  display: inline-block;
  vertical-align: middle;
  padding: 12px 36px 18px;
  text-transform: uppercase;
  background-color: #273654;
  border-radius: 0px 0px 4px 4px;
}
.pt-showMenu > span:before,
.pt-showMenu > span:after {
  content: "";
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 8px;
  width: 20px;
  height: 1px;
  margin: 0px auto;
  background-color: #fff;
}
.pt-showMenu > span:after {
  width: 14px;
  bottom: 12px;
}
.pt-mapTopNav {
  position: fixed;
  left: 0px;
  right: 0px;
  top: -200px;
  z-index: 10000;
  transition: 0.5s;
  -moz-transition: 0.5s;
  padding: 0px 16px 16px;
  -webkit-transition: 0.5s;
  background-color: #273654;
}
.pt-mapTopNav.open {
  top: 0px;
}
.pt-mapSection {
  position: relative;
  padding: 16px 0px 0px;
}
.pt-mapSectionTitle {
  position: relative;
  color: #fff;
  display: block;
  font-size: 12px;
  padding-bottom: 8px;
  margin: 0px auto 12px;
  text-transform: uppercase;
}
.pt-mapSectionTitle:after {
  content: "";
  position: absolute;
  left: 0px;
  bottom: 0px;
  width: 20px;
  height: 3px;
  background-color: #fff;
}
.pt-mapOptions {
  position: relative;
}
.pt-mapOptions > ul {
  margin: 0px auto;
}
.pt-mapOptions > ul > li {
  width: 50%;
  padding: 0px;
}
.pt-mapOptions > ul > li + li > .pt-mapBtn {
  border-left: none;
}
.pt-mapBtn {
  position: relative;
  height: 36px;
  cursor: pointer;
  font-size: 14px;
  color: #1397f1;
  min-width: 110px;
  padding: 8px 32px;
  border: 1px solid #1397f1;
  background-color: transparent;
  font-family: "Lato", sans-serif;
}
.pt-mapBtn.active,
.pt-mapBtn.active:hover,
.pt-searchBtn {
  color: #fff;
  background-color: #1397f1;
}
.pt-mapView {
  position: relative;
  overflow: hidden;
  padding: 16px 0px 0px;
}
.leaflet-control-attribution {
  display: none;
}
.leaflet-touch .leaflet-bar {
  float: none;
  border: none;
  margin: 0px auto;
  border-radius: 0px;
}
.leaflet-top {
  top: 16px;
  left: 16px;
}
.leaflet-control-zoom {
  position: relative;
}
.leaflet-control-zoom > a {
  position: relative;
  display: block;
  font-size: 24px;
  color: #353f57;
  text-align: center;
  width: 32px !important;
  height: 32px !important;
  background-color: #c7c7c7;
}
.ui-menu {
  margin: 0px;
  padding: 0px;
  z-index: 10000;
  overflow: hidden;
  max-width: 280px;
  overflow-y: auto;
  max-height: 250px;
  list-style-type: none;
  width: auto !important;
  background-color: #fff;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
    0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
  -moz-box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
    0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
  -webkit-box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
    0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}
.ui-menu > li {
  cursor: pointer;
  transition: 0.5s;
  padding: 8px 12px;
  -moz-transition: 0.5s;
  -webkit-transition: 0.5s;
}
.ui-menu > li:hover {
  background-color: #f4f4f4;
}
.leaflet-container {
  font-size: 12px;
  background-color: #f2f4f8;
  font-family: "Lato", sans-serif;
}
.leaflet-bar a.leaflet-disabled,
.leaflet-bar a.leaflet-disabled:hover {
  background-color: #dadbdf;
}
.leaflet-popup-content-wrapper {
  border-radius: 4px;
}
.leaflet-popup-content {
  line-height: 16px;
  margin: 12px 16px;
}
.leaflet-container a.leaflet-popup-close-button {
  top: 4px;
  right: 4px;
  width: 14px;
  padding: 0px;
}
.leaflet-bar a:hover {
  background-color: #a2a2a2;
}
.hasBtns {
  position: relative;
  font-size: 0px;
}
.hasBtns > .pt-mapBtn {
  display: inline-block;
  vertical-align: middle;
  text-transform: uppercase;
}
.hasBtns > .pt-mapBtn + .pt-mapBtn {
  border-left: none;
}
.pt-mapSelectedData {
  position: relative;
  padding: 0px 12px;
  margin: 16px auto 0px;
}
.pt-mapSelectedData > ul {
  margin: 0px -12px;
}
.pt-mapSelectedData > ul > li {
  font-size: 0px;
  padding: 0px 12px;
}
.pt-mapSelectedData > ul > li > b,
.pt-mapSelectedData > ul > li > span {
  font-size: 12px;
  font-weight: bold;
  display: inline-block;
  vertical-align: middle;
  text-transform: uppercase;
}
.pt-mapSelectedData > ul > li > span {
  color: #1397f1;
  margin-left: 6px;
}
@media only screen and (max-width: 767px) {
  .pt-mapTopNav {
    top: -350px;
  }
  .pt-showMenu.slideDown {
    top: 318px;
  }
  .pt-mapOptions > ul > li:last-child {
    margin-top: 12px;
  }
  .pt-mapOptions > ul > li {
    display: block;
  }
  .hasBtns > .pt-mapBtn {
    width: 50%;
  }
  .pt-mapBtn {
    height: 44px;
    padding: 12px;
    text-transform: uppercase;
  }
  .pt-inputGroup > .pt-formControl {
    height: 44px;
    width: calc(100% - 110px);
    width: -moz-calc(100% - 110px);
    width: -webkit-calc(100% - 110px);
  }
  .pt-mapSelectedData > ul > li {
    display: block;
    line-height: 20px;
  }
  .leaflet-top {
    position: fixed;
    top: 136px;
  }
}
