*,
:after,
:before {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
*,
:after,
:before,
input[type="checkbox"],
input[type="radio"] {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
body {
  margin: 0px;
  padding: 0px;
  font-size: 14px;
  color: #353f57;
  padding-top: 46px;
  background-color: #f2f4f8;
  font-family: "Lato", sans-serif;
}
input[type="search"] {
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
input[type="checkbox"],
input[type="radio"] {
  padding: 0px;
  box-sizing: border-box;
}
select {
  -webkit-appearance: none;
}
input[disabled],
select[disabled] {
  cursor: not-allowed;
  background-color: #f2f3f6;
}
*,
*:focus {
  outline: none;
}
a {
  color: #288bce;
  text-decoration: none;
  display: inline-block;
}
a:hover,
a:focus {
  text-decoration: none;
}
p {
  margin: 0 auto;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
.text-left {
  text-align: left;
}
.container {
  position: relative;
  margin: 0 auto;
}
.container-fluid {
  position: relative;
  padding: 0px 48px;
}
@media only screen and (max-width: 992px) {
  .container {
    padding: 0 12px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media only screen and (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  border-radius: 20px;
}
::-webkit-scrollbar-button {
  display: none;
}
::-webkit-scrollbar-track {
  background-color: rgba(50, 50, 50, 0.05);
}
::-webkit-scrollbar-track-piece {
  background-color: rgba(50, 50, 50, 0.05);
}
::-webkit-scrollbar-thumb {
  background-color: #000;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #000;
}
::-webkit-scrollbar-corner {
  display: none;
}
::-webkit-resizer {
  display: none;
}
.pt-smooth {
  transition: 0.5s;
  -moz-transition: 0.5s;
  -webkit-transition: 0.5s;
}
.list-inline {
  padding: 0;
  font-size: 0;
  margin: 0px -6px;
  list-style-type: none;
}
.list-inline > li {
  padding: 0 6px;
  font-size: 14px;
  display: inline-block;
  vertical-align: middle;
}
.list-unstyled {
  padding: 0;
  margin: 0 auto;
  list-style-type: none;
}
.disabled {
  opacity: 0.6;
  pointer-events: none;
}
.pt-formControl {
  position: relative;
  width: 100%;
  height: 36px;
  font-size: 14px;
  color: #353f57;
  padding: 8px 12px;
  border: 1px solid #cbcfd7;
  font-family: "Lato", sans-serif;
  box-shadow: inset 0 1px 4px 0 rgba(232, 234, 237, 0.6);
}
.pt-formControl::placeholder {
  font-weight: normal;
  color: rgba(44, 52, 71, 0.5);
}
.pt-formControl[disabled] {
  opacity: 1;
  cursor: not-allowed;
  background-color: #eee;
}
.pt-formControl::-webkit-inner-spin-button,
.pt-formControl::-webkit-outer-spin-button {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}
.pt-inputGroup {
  position: relative;
  font-size: 0px;
}
.pt-inputGroup > .pt-formControl,
.pt-inputGroup > .pt-mapBtn {
  width: auto;
  display: inline-block;
  vertical-align: middle;
}
.pt-inputGroup > .pt-formControl {
  border-right: none;
  margin-right: -1px;
}
.hasOverlay:after {
  content: "";
  position: fixed;
  top: 0px;
  left: 0px;
  opacity: 0;
  width: 100%;
  z-index: 998;
  height: 100%;
  transition: 0.5s;
  visibility: hidden;
  -moz-transition: 0.5s;
  -webkit-transition: 0.5s;
  background-color: rgba(39, 54, 84, 0.6);
}
.showOverlay.hasOverlay:after {
  opacity: 1;
  visibility: visible;
}
.pt-showMenu {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  z-index: 1000;
  text-align: center;
}
.pt-showMenu.slideDown {
  top: 190px;
}
.pt-showMenu > span {
  position: relative;
  color: #fff;
  font-size: 12px;
  cursor: pointer;
  font-weight: bold;
  display: inline-block;
  vertical-align: middle;
  padding: 12px 36px 18px;
  text-transform: uppercase;
  background-color: #273654;
  border-radius: 0px 0px 4px 4px;
}
.pt-showMenu > span:before,
.pt-showMenu > span:after {
  content: "";
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 8px;
  width: 20px;
  height: 1px;
  margin: 0px auto;
  background-color: #fff;
}
.pt-showMenu > span:after {
  width: 14px;
  bottom: 12px;
}
.pt-mapTopNav {
  position: fixed;
  left: 0px;
  right: 0px;
  top: -200px;
  z-index: 10000;
  transition: 0.5s;
  -moz-transition: 0.5s;
  padding: 0px 16px 16px;
  -webkit-transition: 0.5s;
  background-color: #273654;
}
.pt-mapTopNav.open {
  top: 0px;
}
.pt-mapSection {
  position: relative;
  padding: 16px 0px 0px;
}
.pt-mapSectionTitle {
  position: relative;
  color: #fff;
  display: block;
  font-size: 12px;
  padding-bottom: 8px;
  margin: 0px auto 12px;
  text-transform: uppercase;
}
.pt-mapSectionTitle:after {
  content: "";
  position: absolute;
  left: 0px;
  bottom: 0px;
  width: 20px;
  height: 3px;
  background-color: #fff;
}
.pt-mapOptions {
  position: relative;
}
.pt-mapOptions > ul {
  margin: 0px auto;
}
.pt-mapOptions > ul > li {
  width: 50%;
  padding: 0px;
}
.pt-mapOptions > ul > li + li > .pt-mapBtn {
  border-left: none;
}
.pt-mapBtn {
  position: relative;
  height: 36px;
  cursor: pointer;
  font-size: 14px;
  color: #1397f1;
  min-width: 110px;
  padding: 8px 32px;
  border: 1px solid #1397f1;
  background-color: transparent;
  font-family: "Lato", sans-serif;
}
.pt-mapBtn.active,
.pt-mapBtn.active:hover,
.pt-searchBtn {
  color: #fff;
  background-color: #1397f1;
}
.pt-mapView {
  position: relative;
  overflow: hidden;
  padding: 16px 0px 0px;
}
.leaflet-control-attribution {
  display: none;
}
.leaflet-touch .leaflet-bar {
  float: none;
  border: none;
  margin: 0px auto;
  border-radius: 0px;
}
.leaflet-top {
  top: 16px;
  left: 16px;
}
.leaflet-control-zoom {
  position: relative;
}
.leaflet-control-zoom > a {
  position: relative;
  display: block;
  font-size: 24px;
  color: #353f57;
  text-align: center;
  width: 32px !important;
  height: 32px !important;
  background-color: #c7c7c7;
}
.ui-menu {
  margin: 0px;
  padding: 0px;
  z-index: 10000;
  overflow: hidden;
  max-width: 280px;
  overflow-y: auto;
  max-height: 250px;
  list-style-type: none;
  width: auto !important;
  background-color: #fff;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
    0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
  -moz-box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
    0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
  -webkit-box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
    0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}
.ui-menu > li {
  cursor: pointer;
  transition: 0.5s;
  padding: 8px 12px;
  -moz-transition: 0.5s;
  -webkit-transition: 0.5s;
}
.ui-menu > li:hover {
  background-color: #f4f4f4;
}
.leaflet-container {
  font-size: 12px;
  background-color: #f2f4f8;
  font-family: "Lato", sans-serif;
}
.leaflet-bar a.leaflet-disabled,
.leaflet-bar a.leaflet-disabled:hover {
  background-color: #dadbdf;
}
.leaflet-popup-content-wrapper {
  border-radius: 4px;
}
.leaflet-popup-content {
  line-height: 16px;
  margin: 12px 16px;
}
.leaflet-container a.leaflet-popup-close-button {
  top: 4px;
  right: 4px;
  width: 14px;
  padding: 0px;
}
.leaflet-bar a:hover {
  background-color: #a2a2a2;
}
.hasBtns {
  position: relative;
  font-size: 0px;
}
.hasBtns > .pt-mapBtn {
  display: inline-block;
  vertical-align: middle;
  text-transform: uppercase;
}
.hasBtns > .pt-mapBtn + .pt-mapBtn {
  border-left: none;
}
.pt-mapSelectedData {
  position: relative;
  padding: 0px 12px;
  margin: 16px auto 0px;
}
.pt-mapSelectedData > ul {
  margin: 0px -12px;
}
.pt-mapSelectedData > ul > li {
  font-size: 0px;
  padding: 0px 12px;
}
.pt-mapSelectedData > ul > li > b,
.pt-mapSelectedData > ul > li > span {
  font-size: 12px;
  font-weight: bold;
  display: inline-block;
  vertical-align: middle;
  text-transform: uppercase;
}
.pt-mapSelectedData > ul > li > span {
  color: #1397f1;
  margin-left: 6px;
}
.pt-lgVisible {
  display: block;
}
.pt-xsVisible {
  display: none;
}
.pt-serachOptions {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  z-index: 1002;
  padding: 16px;
  background-color: #fff;
  box-shadow: 0 -1px 17px 0 rgba(94, 107, 137, 0.2);
  -moz-box-shadow: 0 -1px 17px 0 rgba(94, 107, 137, 0.2);
  -webkit-box-shadow: 0 -1px 17px 0 rgba(94, 107, 137, 0.2);
}
.pt-searchFloor {
  position: relative;
}
.pt-searchFloor.hasBackBtn {
  margin-left: 54px;
}
.pt-searchFloor > .searchFloor {
  position: absolute;
  top: 3px;
  left: 4px;
  z-index: 4;
  width: 34px;
  height: 34px;
  cursor: pointer;
}
.pt-searchFloor > .pt-formControl {
  height: 40px;
  padding-left: 44px;
  border-radius: 6px;
}
.isSearching > .pt-formControl {
  width: calc(100% - 80px);
  width: -moz-calc(100% - 80px);
  width: -webkit-calc(100% - 80px);
}
.pt-serachOptions.hasBackBtn > .pt-searchFloor {
  margin-left: 44px;
}
.pt-searchFloor > .searchFloor > small {
  position: absolute;
  top: 50%;
  left: 0px;
  z-index: 4;
  right: 0px;
  width: 16px;
  height: 16px;
  cursor: pointer;
  margin: -8px auto 0px;
}
.pt-searchFloor > .searchFloor > small:before,
.pt-searchFloor > .searchFloor > small:after {
  content: "";
}
.pt-searchFloor > .searchFloor > small:before {
  width: 16px;
  height: 16px;
  display: block;
  margin: 0px auto;
  border-radius: 50%;
  border: 1px solid #000;
}
.pt-searchFloor > .searchFloor > small:after {
  position: absolute;
  width: 6px;
  right: -2px;
  bottom: -1px;
  transform: rotate(45deg);
  border: 1px solid #000;
  -moz-transform: rotate(45deg);
  border-top-right-radius: 12px;
  -webkit-transform: rotate(45deg);
  border-bottom-right-radius: 12px;
}
.clearSearch {
  position: absolute;
  top: 50%;
  right: 0px;
  z-index: 4;
  opacity: 0;
  cursor: pointer;
  font-size: 12px;
  color: #4249c9;
  line-height: 24px;
  padding: 0px 16px;
  visibility: hidden;
  transform: scale(0);
  margin: -12px auto 0px;
  -moz-transform: scale(0);
  text-transform: uppercase;
  -webkit-transform: scale(0);
}
.isSearching .clearSearch {
  opacity: 1;
  visibility: visible;
  transform: scale(1);
  -moz-transform: scale(1);
  -webkit-transform: scale(1);
}
.pt-floorList {
  position: relative;
  margin: 12px -16px -16px;
  background-color: rgba(200, 202, 255, 0.24);
}
.pt-floorList > ul {
  position: relative;
  padding: 16px;
  margin: 0px auto;
  overflow: hidden;
  overflow-x: auto;
  white-space: nowrap;
}
.pt-floorList > ul::-webkit-scrollbar {
  display: none;
}
.pt-floorList > ul > li {
  padding: 0px;
}
.pt-floorList > ul > li + li {
  margin-left: 12px;
}
.pt-floorBtn {
  position: relative;
  border: none;
  font-size: 12px;
  font-weight: 500;
  padding: 8px 12px;
  border-radius: 24px;
  background-color: #fff;
  color: rgba(69, 79, 102, 0.5);
}
.active > .pt-floorBtn,
.pt-floorBtn.active {
  color: #fff;
  background-color: #4249c9;
}
.pt-levelSelection {
  position: fixed;
  top: 164px;
  z-index: 4;
  right: 16px;
  width: 60px;
}
.pt-levelBtn {
  position: relative;
  width: 100%;
  height: 60px;
  border: none;
  display: block;
  font-size: 16px;
  font-weight: 500;
  border-radius: 50%;
  text-align: center;
  box-shadow: 0 2px 8px 0 rgba(71, 71, 71, 0.4);
  background-color: #fcfcfe;
}
.pt-levelBtn.active {
  color: #fff;
  background-color: #4249c9;
}
.pt-levelBtn + .pt-levelBtn {
  margin: 12px auto 0px;
}
.pt-searchResult {
  position: fixed;
  left: 0px;
  top: -100%;
  right: 0px;
  opacity: 0;
  z-index: 1001;
  overflow: hidden;
  overflow-y: auto;
  visibility: hidden;
  height: calc(100% - 72px);
  background-color: #f3f3f7;
  height: -moz-calc(100% - 72px);
  height: -webkit-calc(100% - 72px);
}
.pt-searchResult.showNav {
  top: 72px;
  opacity: 1;
  visibility: visible;
}
.pt-searchResult > ul > li + li {
  border-top: 1px solid rgba(44, 52, 71, 0.1);
}
.pt-searchItem {
  position: relative;
  padding: 16px;
}
.pt-searchItem > b,
.pt-searchItem > span {
  display: block;
  font-weight: 500;
}
.pt-searchItem > span {
  opacity: 0.5;
  font-size: 12px;
}
@media only screen and (max-width: 767px) {
  body {
    padding-top: 132px;
  }
  .pt-mapTopNav {
    top: -390px;
  }
  .pt-showMenu.slideDown {
    top: 370px;
  }
  .pt-mapOptions > ul > li:last-child {
    margin-top: 4px;
  }
  .pt-mapOptions > ul > li {
    width: 100%;
    display: block;
  }
  .hasBtns > .pt-mapBtn {
    width: 50%;
    margin-bottom: 8px;
  }
  .hasBtns > .pt-mapBtn + .pt-mapBtn {
    border-left: 1px solid #1397f1;
  }
  .pt-mapBtn {
    height: 44px;
    padding: 12px 10px;
    text-transform: uppercase;
  }
  .pt-inputGroup > .pt-formControl {
    height: 44px;
    width: calc(100% - 110px);
    width: -moz-calc(100% - 110px);
    width: -webkit-calc(100% - 110px);
  }
  .pt-mapSelectedData > ul > li {
    display: block;
    line-height: 20px;
  }
  .leaflet-top {
    position: fixed;
    top: auto;
    left: auto;
    right: 24px;
    bottom: 88px;
    border-radius: 4px;
    background-color: #fcfcfe;
    box-shadow: 0 2px 8px 0 rgba(71, 71, 71, 0.4);
  }
  .leaflet-control-zoom > a {
    width: 44px !important;
    height: 44px !important;
    line-height: 40px !important;
    background-color: #fff !important;
  }
  .leaflet-touch .leaflet-bar a:first-child {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
  }
  .leaflet-touch .leaflet-bar a:last-child {
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
  }
  .ui-menu {
    max-width: calc(100% - 33px);
    max-width: -moz-calc(100% - 33px);
    max-width: -webkit-calc(100% - 33px);
  }
  .pt-lgVisible {
    display: none;
  }
  .pt-xsVisible {
    display: block;
  }
  .pt-mapView {
    padding: 0px;
    height: calc(100% - 132px);
    height: -moz-calc(100% - 132px);
    height: -webkit-calc(100% - 132px);
  }
}
